body {
  background: #fff;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}

#debug {
  width: 100%;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.6);
  color: #ffffff;
  font-size: 14px;
}

h1 {
  margin: 0;
  padding: 0 10px;
  line-height: 60px;
  font-size: 24px;
}

#map {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background: #eee;
}

#map .loading {
  width: 64px;
  height: 64px;
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  font-size: 64px;
  color: #999;
}

#map .nogeo {
  position: absolute;
  top: calc(50% - .5em);
  width: 100vw;
  margin: 0;
  text-align: center;
}
