//- Variables Setting
include _includes/_variables.pug
-
  var pagehead = {
    pageTitle : ''
  }

//- START HTML
doctype html
html(lang="ja")
  include _includes/_head.pug

  //- START BODY
  body

    //- hero
    section#hero
      h1 hero

    //- history
    section#history
      h2 history

    //- skills
    section#skills
      h2 skills

    //- works
    section#works
      h2 works

    script(src="js/app.js")