//- Variables Setting
include _includes/_variables.pug
-
  var pagehead = {
    pageTitle : 'MDL Style'
  }

//- START HTML
doctype html
html(lang="ja")
  include _includes/_head.pug

  //サンプル表示用スタイル
  style.
    html,body,p {
      font-size: 16px;
    }
    .grid-demo .mdl-cell{
      background: #eee;
      padding:5px;
    }
    .demo-card > .mdl-card__title {
      color: #fff;
      height: 176px;
      background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
    }
    .demo-card > .mdl-card__menu {
      color: #fff;
    }

  //- START BODY
  body
    .mdl-layout.mdl-js-layout
      header.mdl-layout__header.mdl-layout__header--scroll
        .mdl-layout__header-row
          span.mdl-layout-title #{global.siteTitle}
          .mdl-layout-spacer
          nav.mdl-navigation
            a.mdl-navigation__link(href="#hoge") Link
            a.mdl-navigation__link(href="#hoge") Link
            a.mdl-navigation__link(href="#hoge") Link
      .mdl-layout__drawer
        .mdl-layout-title #{global.siteTitle}
        nav.mdl-navigation
          a.mdl-navigation__link(href="#hoge") Link
          a.mdl-navigation__link(href="#hoge") Link
          a.mdl-navigation__link(href="#hoge") Link
      main.mdl-layout__content
        section
          h1 MDL Components

        section
          h2 Grid
          .mdl-grid.grid-demo
            - for (var x = 0; x < 12; x++)
              .mdl-cell.mdl-cell--1-col 1
          .mdl-grid.grid-demo
            - for (var x = 0; x < 6; x++)
              .mdl-cell.mdl-cell--2-col 2
          .mdl-grid.grid-demo
            - for (var x = 0; x < 4; x++)
              .mdl-cell.mdl-cell--3-col 3
          .mdl-grid.grid-demo
            - for (var x = 0; x < 3; x++)
              .mdl-cell.mdl-cell--4-col 4
          .mdl-grid.grid-demo
            - for (var x = 0; x < 2; x++)
              .mdl-cell.mdl-cell--6-col 6

        section
          h2 Grid & Card
          p mdl-gridにmdl-cardを<b>単純に収めるのはNG。</b>
          p mdl-cellとmdl-cardでwidthの取り方が別に存在するため、めり込みが発生する。

          .mdl-grid
            - for (var x = 0; x < 3; x++)
              .mdl-cell.mdl-cell--4-col
                .demo-card.mdl-card.mdl-shadow--2dp
                  .mdl-card__title
                    h2.mdl-card__title-text Welcome
                  .mdl-card__supporting-text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Mauris sagittis pellentesque lacus eleifend lacinia...
                  .mdl-card__actions.mdl-card--border
                    a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect Get Started
                  .mdl-card__menu
                    button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
                      i.material-icons share

          h3 Grid & Card 調整版
          p mdl-cardにw100で横幅いっぱいに広がるよう調整した。これなら表示に耐える。
          .mdl-grid
            - for (var x = 0; x < 3; x++)
              .mdl-cell.mdl-cell--4-col
                .demo-card.mdl-card.mdl-shadow--2dp.w100
                  .mdl-card__title
                    h2.mdl-card__title-text Welcome
                  .mdl-card__supporting-text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Mauris sagittis pellentesque lacus eleifend lacinia...
                  .mdl-card__actions.mdl-card--border
                    a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect Get Started
                  .mdl-card__menu
                    button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
                      i.material-icons share
        section
          h2 Icon
          p FontAwesomeと違いアイコン別にクラスはなく、<b>material-icons</b>に内包されるテキストによってアイコンが変わる。
          a(href="https://material.io/icons/" target="_blank") https://material.io/icons/
          .mdl-grid
            - var icons = ["face","favorite","star","lock","room","thumb_up","error","email","send","create","save","schedule"]
            each icon in icons
              .mdl-cell.mdl-cell--1-col.center
                i.material-icons #{icon}
                p #{icon}

        section
          h2 Footer
          p mega-footerはレスポンシブ時に画面下に残り続けるため、Webアプリでしか使えない。
          p Webサイトにはmini-footerが妥当。もしくは独自に作る。

        footer.mdl-mini-footer
          div
            .mdl-logo Title
            ul.mdl-mini-footer__link-list
              li
                a(href="#") Menu1
              li
                a(href="#") Menu2
