body {
}

#container {
  max-width: 800px;
  margin: auto;
}

#header, #primary {
  background-color: #eeeeee;
}

.navi {
  .active {
    font-weight: bold;
  }
}

h1 {
}

#primary {
  animation: fadeIn 1s ease 0s 1 both;
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}