body {
  background: #333;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}
* {
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  user-select: none;
}

#circle {
  background: #fff;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity .3s ease;
  z-index: 2;
}

#debug {
  width: 100vw;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  color: #ffffff;
  font-size: 14px;
}
